.cont-login {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    margin-top: 130px;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-family: Arial, sans-serif;
    text-align: center
}

.cont-login .inicio {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #53202e;
    text-align: center;
    margin-bottom: 20px;
}

.form div {
    gap: 30px ;
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.form input[type="submit"] {
    background-color: #B94866;
    color: white;
    padding: 10px 15px;
    justify-content: center;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #a53c5a;
}

.cont-login div a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #043e74;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .cont-login {
        margin: 20px auto;
        padding: 20px;
        max-width: 90%;
    }

    .form input[type="email"],
    .form input[type="password"],
    .form input[type="number"],
    .form input[type="submit"] {
        font-size: 16px;
        padding: 12px;
    }

    .cont-login .inicio {
        font-size: 1.2rem;
    }

    .cont-login div a {
        font-size: 0.95rem;
    }
}

